@model List<FlashCardBuddyFrontend.Models.UserDTO>

<body>
    <h1>All Users</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model)
            {
                <tr>
                    <td>@user.Username</td>
                    <td>@user.Firstname</td>
                    <td>@user.Email</td>
                </tr>
            }
        </tbody>
    </table>
</body>

